#portifolio {
   padding: 60px 20px;
}

.cartoesPortifolio h3{
   font-size: 1.5rem;
   margin-bottom: 12px;
   position: relative;
   line-height: 0.8;
}

.cartoesPortifolio h3::before{
   content: '';
   background: linear-gradient(#8761F5, #5200FF);
   display: block;
   height: 100%;
   width: 4px;
   position: absolute;
   top: 0px;
   left: -10px;
   border-radius: 1.5px;
}

.cartoesPortifolio p{
   font-size: 1rem;
   margin-bottom: 20px;
}

.cartoesPortifolio div:first-child{
   margin-bottom: 60px;
}

.cartoesPortifolio img{
   margin-bottom: 10px;
}

.cartoesPortifolio > div{
   position: relative;
}

.cartoesPortifolio a{
   text-decoration: underline;
   padding: 10px 0px;
   display: inline;
}

/* responsividade */
@media (width <= 400px){
   .cartoesPortifolio div:first-child {
      margin-bottom: 40px;
  }
}